verzekerdenejb/src/main/resources/relatiegegevens/jaxb/relatiegegevens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="relatietype" type="xs:string" />
	<xs:element name="label" type="xs:string" />
	<xs:element name="labelnaam" type="xs:string" />
	<xs:element name="relatienummer" type="xs:string" />
	<xs:element name="overeenkomstnummer" type="xs:string" />
	<xs:element name="verzekeringsnemernummer" type="xs:string" />
	<xs:element name="naamvolledig" type="xs:string" />
	<xs:element name="geboortedatum" type="xs:string" />
	<xs:element name="geslacht" type="xs:string" />
	<xs:element name="straatnaam" type="xs:string" />
	<xs:element name="huisnummer" type="xs:string" />
	<xs:element name="huisnummertoev" type="xs:string" />
	<xs:element name="postcode" type="xs:string" />
	<xs:element name="woonplaats" type="xs:string" />
	<xs:element name="uitschrijfdatum" type="xs:string" />
	<xs:element name="inschrijfdatum" type="xs:string" />
	<xs:element name="collectiviteitsnummer" type="xs:string" />
	<xs:element name="makelaarnummer" type="xs:string" />
	<xs:element name="intermediairnummer" type="xs:string" />
	<xs:element name="status" type="xs:string" />
	<xs:element name="redenuitschrijving" type="xs:string" />
	<xs:element name="soortcollectiviteit" type="xs:string" />
	<xs:element name="rekeningnummerincasso" type="xs:string" />
	<xs:element name="bicincasso" type="xs:string" />
	<xs:element name="ibanincasso" type="xs:string" />
	<xs:element name="rekeningnummerexcasso" type="xs:string" />
	<xs:element name="bicexcasso" type="xs:string" />
	<xs:element name="ibanexcasso" type="xs:string" />
	<xs:element name="ikaznummer" type="xs:string" />
	<xs:element name="marsnummer" type="xs:string" />
	<xs:element name="communicatienummer" type="xs:string" />
	<xs:element name="zorgkantoor" type="xs:string" />
	<xs:element name="zorgverlenerstelsel" type="xs:string" />
	<xs:element name="zorgverlenersoortid" type="xs:string" />
	<xs:element name="agbcode" type="xs:string" />
	<xs:element name="OpvragenRelatieGegevens">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sqldataset" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sqldataset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AANTAL" />
				<xs:element ref="RELATIEGEGEVENS" />
				<xs:element maxOccurs="unbounded" ref="OVERZICHT" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AANTAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="aantal" />
				<xs:element ref="aantalgevonden" />
				<xs:element ref="opmerking" />
				<xs:element ref="maxaantal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aantal" type="xs:integer" />
	<xs:element name="aantalgevonden" type="xs:integer" />
	<xs:element name="opmerking" type="xs:string" />
	<xs:element name="maxaantal" type="xs:integer" />
	<xs:element name="RELATIEGEGEVENS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relatietype" />
				<xs:element ref="label" />
				<xs:element ref="labelnaam" />
				<xs:element name="bsnnummer" type="xs:string" />
				<xs:element ref="relatienummer" />
				<xs:element ref="overeenkomstnummer" />
				<xs:element ref="verzekeringsnemernummer" />
				<xs:element name="overeenkomstactueel" type="xs:string" />
				<xs:element name="soortproduksetnummer" type="xs:string" />
				<xs:element name="soortproduktsetnaam" type="xs:string" />
				<xs:element name="soortverzekering" type="xs:string" />
				<xs:element ref="inschrijfdatum" />
				<xs:element ref="uitschrijfdatum" />
				<xs:element ref="redenuitschrijving" />
				<xs:element ref="collectiviteitsnummer" />
				<xs:element name="collectiviteitsnaam" type="xs:string" />
				<xs:element ref="soortcollectiviteit" />
				<xs:element ref="intermediairnummer" />
				<xs:element name="intermediairnaam" type="xs:string" />
				<xs:element name="intermediairtitel" type="xs:string" />
				<xs:element ref="makelaarnummer" />
				<xs:element name="makelaarnaam" type="xs:string" />
				<xs:element name="makelaartitel" type="xs:string" />
				<xs:element name="codewerkmaatschappij" type="xs:string" />
				<xs:element name="naamwerkmaatschappij" type="xs:string" />
				<xs:element name="groep" type="xs:string" />
				<xs:element name="voorletters" type="xs:string" />
				<xs:element name="voorvoegsel" type="xs:string" />
				<xs:element name="naam" type="xs:string" />
				<xs:element ref="naamvolledig" />
				<xs:element name="voorvoegselpartner" type="xs:string" />
				<xs:element name="voorletterspartner" type="xs:string" />
				<xs:element name="naampartner" type="xs:string" />
				<xs:element name="titel_voor" type="xs:string" />
				<xs:element name="titel_achter" type="xs:string" />
				<xs:element name="aanhef0" type="xs:string" />
				<xs:element name="aanhef1" type="xs:string" />
				<xs:element name="aanhef2" type="xs:string" />
				<xs:element name="aanhef3" type="xs:string" />
				<xs:element name="aanduidingnaamgebruik" type="xs:string" />
				<xs:element ref="geboortedatum" />
				<xs:element ref="geslacht" />
				<xs:element name="nationaliteit" type="xs:string" />
				<xs:element ref="straatnaam" />
				<xs:element ref="huisnummer" />
				<xs:element ref="huisnummertoev" />
				<xs:element name="kamernummer" type="xs:string" />
				<xs:element name="kamernummertoev" type="xs:string" />
				<xs:element ref="postcode" />
				<xs:element ref="woonplaats" />
				<xs:element name="woonland" type="xs:string" />
				<xs:element name="indicatiebuitenland" type="xs:string" />
				<xs:element name="telefoon" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="straatnaamcorresp" type="xs:string" />
				<xs:element name="huisnummercorresp" type="xs:string" />
				<xs:element name="huisnummertoevcorresp" type="xs:string" />
				<xs:element name="kamernummercorresp" type="xs:string" />
				<xs:element name="kamernummertoevcorresp" type="xs:string" />
				<xs:element name="postcodecorresp" type="xs:string" />
				<xs:element name="woonplaatscorresp" type="xs:string" />
				<xs:element name="landcorresp" type="xs:string" />
				<xs:element name="indicatiebuitenlandcorresp" type="xs:string" />
				<xs:element name="tonen" type="xs:string" />
				<xs:element ref="status" />
				<xs:element name="contactpersoontp" type="xs:string" />
				<xs:element name="straatnaamtp" type="xs:string" />
				<xs:element name="huisnummertp" type="xs:string" />
				<xs:element name="postcodetp" type="xs:string" />
				<xs:element name="woonplaatstp" type="xs:string" />
				<xs:element ref="rekeningnummerincasso" />
				<xs:element ref="bicincasso" />
				<xs:element ref="ibanincasso" />
				<xs:element ref="rekeningnummerexcasso" />
				<xs:element ref="bicexcasso" />
				<xs:element ref="ibanexcasso" />
				<xs:element name="betaalwijze" type="xs:string" />
				<xs:element ref="ikaznummer" />
				<xs:element ref="communicatienummer" />
				<xs:element name="instellingscode" type="xs:string" />
				<xs:element name="instellingsnaam" type="xs:string" />
				<xs:element name="categorie" type="xs:string" />
				<xs:element name="categorieomschrijving" type="xs:string" />
				<xs:element name="vestigingsplaats" type="xs:string" />
				<xs:element name="opnamedatum" type="xs:string" />
				<xs:element name="soortopname" type="xs:string" />
				<xs:element ref="zorgkantoor" />
				<xs:element name="zorgkantoornaam" type="xs:string" />
				<xs:element name="datumtoevrecord" type="xs:string" />
				<xs:element name="useridtoevrecord" type="xs:string" />
				<xs:element name="indverwijderd" type="xs:string" />
				<xs:element name="straatnaamincasso" type="xs:string" />
				<xs:element name="huisnummerincasso" type="xs:string" />
				<xs:element name="huisnummertoevincasso" type="xs:string" />
				<xs:element name="kamernummerincasso" type="xs:string" />
				<xs:element name="kamernummertoevincasso" type="xs:string" />
				<xs:element name="postcodeincasso" type="xs:string" />
				<xs:element name="woonplaatsincasso" type="xs:string" />
				<xs:element name="landincasso" type="xs:string" />
				<xs:element name="indicatiebuitenlandincasso" type="xs:string" />
				<xs:element ref="marsnummer" />
				<xs:element ref="zorgverlenerstelsel" /> 
			    <xs:element ref="zorgverlenersoortid" /> 
				<xs:element ref="agbcode" /> 
				<xs:element name="datumlaatstemut"  /> 
				<xs:element name="useridlaatstemut" /> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OVERZICHT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:integer" />
				<xs:element ref="relatietype" />
				<xs:element ref="label" />
				<xs:element ref="labelnaam" />
				<xs:element ref="relatienummer" />
				<xs:element ref="overeenkomstnummer" />
				<xs:element ref="verzekeringsnemernummer" />
				<xs:element ref="naamvolledig" />
				<xs:element ref="geboortedatum" />
				<xs:element ref="geslacht" />
				<xs:element ref="straatnaam" />
				<xs:element ref="huisnummer" />
				<xs:element ref="huisnummertoev" />
				<xs:element ref="postcode" />
				<xs:element ref="woonplaats" />
				<xs:element name="actueel" type="xs:string" />
				<xs:element ref="uitschrijfdatum" />
				<xs:element ref="inschrijfdatum" />
				<xs:element ref="collectiviteitsnummer" />
				<xs:element ref="makelaarnummer" />
				<xs:element ref="intermediairnummer" />
				<xs:element ref="status" />
				<xs:element ref="redenuitschrijving" />
				<xs:element ref="soortcollectiviteit" />
				<xs:element ref="rekeningnummerincasso" />
				<xs:element ref="bicincasso" />
				<xs:element ref="ibanincasso" />
				<xs:element ref="rekeningnummerexcasso" />
				<xs:element ref="bicexcasso" />
				<xs:element ref="ibanexcasso" />
				<xs:element ref="ikaznummer" />
				<xs:element ref="communicatienummer" />
				<xs:element ref="zorgkantoor" />
				<xs:element ref="marsnummer" />
				<xs:element ref="zorgverlenerstelsel" /> 
  				<xs:element ref="zorgverlenersoortid" /> 
  				<xs:element ref="agbcode" /> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
